header {
  //  background-image: url("../../bookmark/images/icon-arrow.svg");
  background-size: 50rem;
  background-repeat: no-repeat;
  background-position: top -15em right -20rem;

  @include lg {
    background-position: top -15em right -2rem;
  }
}
