.intro-wrapper {
  padding: 2em 0;

  .illustration {
    width: 100%;
    padding: 1em;
    @include md {
      @include flexProps();

      img {
        object-fit: fill;
      }
      flex-basis: 45%;
    }

    @include lg {
      flex-grow: 1;
      flex-basis: 60%;
      img {
        object-fit: none;
        width: auto;
      }
      padding: 0;
    }

    &::after {
      content: "";
      width: 100%;
      height: 20rem;
      background-color: $soft-blue;
      border-radius: 20rem;
      z-index: -999;
      @include positionElem($pos: absolute, $right: -12rem, $top: 5rem);

      @include md {
        @include positionElem($pos: absolute, $right: -30rem, $top: 15rem);
      }

      @include lg {
        @include positionElem($pos: absolute, $right: -60rem, $top: 20rem);
      }
    }
  }

  .intro-content {
    text-align: center;
    @include flexProps($dir: column, $gap: 1.2em, $algn: center);
    padding: 4em 1em;
    h1 {
      color: $dark-blue;
      font-size: 2.5rem;
    }
    p {
      color: $grayish-blue;
      @include text-configs;
      font-size: 20px;
      width: 65%;

      @include md {
        width: 100%;
      }
    }

    // .intro-content @md

    @include md {
      text-align: initial;
      flex-basis: 55%;
      @include flexProps($dir: column, $gap: 2em, $algn: initial);
    }

    @include lg {
      flex-basis: 60%;
    }
  }

  // .intro @md screen
  .intro {
    @include md {
      @include flexProps($dir: row-reverse);
    }
  }

  .ctrls {
    margin-top: 1em;
    @include flexProps($gap: 2em, $jsfy: center);

    @include custom-button($color: $soft-blue);
    button:nth-child(n + 2) {
      background-color: #fafafa;
      color: $dark-blue;
    }

    @include lg {
      @include flexProps($gap: 2em, $jsfy: initial);
    }
  }
}
