@mixin flex() {
  display: flex;
}

@mixin img-wrapper($w: 0px, $h: 0) {
  .img-wrapper {
    width: $w;
    height: $h;
  }
}

.nav {
  // img {}

  @include positionElem($pos: fixed);
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  padding-top: 2em;
  background-color: hsl(226, 90%, 12%, 0.8);
  transition: top left 0.3s;

  hr {
    border: 0.5px solid rgb(173, 170, 170);

    @include md {
      display: none;
    }
  }

  .brand {
    width: 100%;
    max-width: 350px;
    margin: auto;
    // border: 2px solid purple;

    padding: 1em 0;
    @include flexProps($jsfy: space-between);

    a > img {
      width: auto;
    }

    img {
      cursor: pointer;
    }

    .img-wrapper {
      align-self: center;
      @include img-wrapper($w: 20px, $h: 20px);
    }
  }

  input {
    @include positionElem($pos: absolute);
  }

  // hiding | showing .social media
  input:checked ~ .social {
    display: flex;
  }

  .nav-links {
    text-align: center;
    margin: auto;
    max-width: 350px;
    padding: 1.5em 0;
    @include flexProps($dir: column, $gap: 1em);

    a {
      color: $white;
      letter-spacing: 0.1em;
      &:hover {
        color: $soft-blue;

        @include md {
          color: $soft-red;
        }
      }

      @include md {
        color: $dark-blue;
      }
    }

    ul li {
      padding: 1em 0;
      transition: font-size 0.2s;
      &:hover {
        font-size: 19px;
      }
    }

    button {
      background: transparent;
      border: 2px solid $white;
      letter-spacing: 0.2em;
      font-size: 1rem;

      &:hover {
        background: $soft-blue;
        border: none;
      }
    }

    // buttons @md screen
    @include md {
      border: none;
      font-size: initial;
      @include custom-button($color: $soft-red);
    }

    @include md {
      @include flexProps($gap: 1em, $jsfy: end, $algn: center);
      border: 1px solid coral;
      max-width: initial;
      padding: initial;
      flex: 1;
      ul {
        @include flexProps($gap: 1em);
      }
    }
  }

  .social {
    @include flexProps($gap: 2em, $jsfy: center);
    width: 100%;
    padding: 1em;
    @include img-wrapper($w: auto, $h: 30px);
    @include positionElem($pos: fixed, $bottom: 2em);
    display: none;
  }

  // .nav @md screen
  @include md {
    @include positionElem($pos: initial);
    overflow: initial;
    width: 100%;
    height: auto;
    padding-top: 2em;
    background-color: transparent;
    transition: top left 0.3s;
  }
  .nav-bar {
    @include md {
      @include flexProps($jsfy: space-between);
    }
  }
}
