.show-case {
  background-color: $soft-blue;
  color: $white;

  .content {
    padding: 2em 0;
    text-align: center;
    @include flexProps($dir: column, $algn: center, $gap: 1.5em);
    p {
      text-transform: uppercase;
    }

    h2 {
      width: 70%;
      text-align: center;
    }
    // for the buttons
    @include custom-button($color: $soft-red, $transform: initial);
    button {
      background: $soft-red;
      &:hover {
        color: $white;
      }
    }

    .ctrls {
      @include flexProps($wrap: no-wrap, $gap: 1em, $dir: column);
      align-self: flex-start;
      width: 100%;
      max-width: 50%;
      margin: auto;
      input {
        padding: 1em 0.5em;
        @include md {
          flex: 1;
        }
      }

      @include md {
        max-width: initial;
        @include flexProps($wrap: no-wrap, $gap: 2em);
      }
    }
    @include md {
      width: 100%;
      max-width: 550px;
      margin: auto;
      text-align: initial;
    }
  }
  // end of the containing div styles
}
